[init]
	defaultBranch = main
[user]
	email = prolcambados@gmail.com
	name = Dani Prol

; [pull]
; 	rebase = true

[fetch]
    prune = true

[core]
    ; editor = nvim # IT SHOULD USE $EDITOR ENV VAR ALREADY
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    true-color = always
    line-numbers = true
    side-by-side = true


[diff]
    colorMoved = default

; IMPORTANT: to retrieve file during merge with marks use: git checkout --conflict=diff3 {file}
[merge]
    ; tool = fugitive
    tool = gitconflict
    ; tool = nvimdiff
    conflictstyle = diff3

[mergetool]
    prompt = false
    keepBackup = false
    hideResolved = true


[mergetool "fugitive"]
  ; cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
  ; cmd = nvim -f -c \"Gvdiffsplit\" \"$LOCAL\" \"$MERGED\"
  ; -d to open in diff mode
  ; -c to run commands
    ; cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

; [mergetool "nvim"]
;     layout = LOCAL,MERGED,REMOTE
    ; cmd = nvim-mergetool $LOCAL $REMOTE $MERGED

[mergetool "gitconflict"]
    cmd = nvim \"$MERGED\"


